.navbar {
  background-color: yellowgreen;
  display: flex;
  height: 100px;
  margin: 0 auto;
}

.title {
  padding: 30px 30px;
  font-size: 30px;
  font-weight: bold;
}

.menuItems {
  padding: 30px;
}

.menuItems > li {
  list-style-type: none;
}

a {
  /* margin: 2px; */
  padding: 2px 0;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

a:hover {
  margin: 5px 0;
  padding: 5px 0;
  text-decoration: underline;
  /* font-weight: bold; */
  background-color: antiquewhite;
  border-radius: 3px;
  transition: text-decoration 2s ease-in;
}
