<div class="form-group">
  <div class="col-sm-8">
    <label class="col-sm-4 control-label" style="font-weight: bold"
      >Filter:</label
    >
    <label class="radio-inline">
      <input type="radio" name="coursesFilter" value="all" checked />
      All Courses {{ "(" + all + ")" }} </label
    >&nbsp;
    <label class="radio-inline">
      <input type="radio" name="coursesFilter" value="free" />
      Free Courses {{ "(" + free + ")" }} </label
    >&nbsp;
    <label class="radio-inline">
      <input type="radio" name="coursesFilter" value="premium" />
      Premium Courses {{ "(" + premium + ")" }}
    </label>
  </div>
</div>
