<div class="form-group">
  <div class="col-sm-8">
    <label class="col-sm-4 control-label" style="font-weight: bold"
      >Filter:</label
    >
    <label class="radio-inline">
      <input
        type="radio"
        name="coursesFilter"
        value="all"
        [(ngModel)]="selectedCoursesType"
        (change)="onSelectedCoursesTypeChange()"
      />
      All Courses {{ "(" + all + ")" }} </label
    >&nbsp;
    <label class="radio-inline">
      <input
        type="radio"
        name="coursesFilter"
        value="free"
        [(ngModel)]="selectedCoursesType"
        (change)="onSelectedCoursesTypeChange()"
      />
      Free Courses {{ "(" + free + ")" }} </label
    >&nbsp;
    <label class="radio-inline">
      <input
        type="radio"
        name="coursesFilter"
        value="premium"
        [(ngModel)]="selectedCoursesType"
        (change)="onSelectedCoursesTypeChange()"
      />
      Premium Courses {{ "(" + premium + ")" }}
    </label>
  </div>
</div>
