<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Full name</label>
  <input
    type="text"
    class="form-control"
    placeholder="Carl Jhonson"
    [(ngModel)]="username"
  />
  <!-- <div class="row">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="status" id="status1" />
      <label class="form-check-label" for="status1"> Active </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="status"
        id="status2"
        checked
      />
      <label class="form-check-label" for="status2"> Inactive </label>
    </div>
  </div> -->
  <div class="input-group mb-3 row">
    <select class="form-select" id="inputGroupSelect02" [(ngModel)]="status">
      <option selected>Status...</option>
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
    </select>
    <label class="input-group-text" for="inputGroupSelect02">Options</label>
  </div>
  <div class="row">
    <button
      class="btn btn-outline-success"
      (click)="createNewUser()"
      style="max-width: 200px"
    >
      Create user
    </button>
  </div>
</div>
