<div class="container">
  <div class="card-group">
    <div
      class="card"
      style="align-items: center"
      *ngFor="let video of videos"
      appHighestLikesHighlightDirective
      [highlightCardWithMaxLikes]="{
        highlightHighestLikesCard: video.likes > getHighestLikesCount() + 30
      }"
    >
      <img
        src="https://dummyimage.com/100x100/000000/ffffff&text=+{{
          video.title
        }}"
        class="card-img-top"
        alt="..."
      />

      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">
          <span
            ><i class="bi bi-hand-thumbs-up-fill" style="color: green">&nbsp;</i
            >{{ video.likes }}</span
          >&nbsp;&nbsp;&nbsp;
          <span
            ><i class="bi bi-hand-thumbs-down-fill" style="color: red">&nbsp;</i
            >{{ video.dislikes }}</span
          >&nbsp;&nbsp;&nbsp;
          <span
            ><i class="bi bi-reply-all-fill" style="color: #267dd3">&nbsp;</i
            >{{ video.shares }}</span
          >
        </p>
        <p class="card-text">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />

<div>
  <h1 appHighestLikesHighlightDirective>
    {{ getHighestLikesCount() }} is mean
  </h1>
</div>
