<div
  class="container"
  [appStyle]="{ backgroundColor: 'pink', color: 'red', fontWeight: 'bold' }"
>
  <p>
    This is a demo HTML content to understand how to create custom ngStyle
    directive in Angular.
  </p>
</div>

<!-- <div class="container-fluid">
  <button
    class="btn btn-outline-warning"
    style="color: black"
    (click)="displayNotice()"
  >
    Show notice
  </button>
  <div class="well" *ngIf="display; else myVar">
    <h3>This is an important notice</h3>
    <p>This is a notice issued for all website users.</p>
  </div>
  <ng-template #myVar>
    <h4>No notices to display!</h4>
  </ng-template> -->

<!-- <h1 *ngIfElse="display">Some header</h1>

  <ng-template [ngIf]="display" [ngIfElse]="myVar">
    <div class="well">
      <h3>This is an important notice</h3>
      <p>This is a notice issued for all website users.</p>
    </div>
  </ng-template>

  <ng-template #myVar>
    <h4>No notices to display!</h4>
  </ng-template>
</div>-->

<div class="container-fluid">
  <button
    class="btn btn-outline-warning"
    style="color: black"
    (click)="displayNotice()"
  >
    Show notice
  </button>
  <div class="well" *appIf="display">
    <h3>This is an important notice</h3>
    <p>This is a notice issued for all website users.</p>
  </div>
</div>

<br />
<br />

<div class="container-fluid" [ngSwitch]="occupation">
  <p *ngSwitchCase="'teacher'">
    This will be displayed when occupation is teacher.
  </p>
  <p *ngSwitchCase="'designer'">
    This will be displayed when occupation is designer.
  </p>
  <p *ngSwitchCase="'lawyer'">
    This will be displayed when occupation is lawyer.
  </p>
  <p *ngSwitchDefault="'default'">
    This is default and will be displayed if no case matches switch expression.
  </p>
</div>

<!-- <ng-template [ngIf]="display">
  <div class="well">
    <h3>This is an important notice</h3>
    <p>This is a notice issued for all website users.</p>
  </div>
</ng-template> -->

<!-- <div class="container">
  <div class="row">
    <input type="text" appRainbow />
  </div>
  <div class="row">
    <h1>{{ title }}</h1>
  </div>
  <div class="row">
    <table class="">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Surname</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Email</th>
          <th scope="col">Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" appCustom50PlusAgeHighlightDirective>
          <th scope="row">{{ user.id }}</th>
          <th scope="row">{{ user.firstName }}</th>
          <th scope="row">{{ user.lastName }}</th>
          <th scope="row">{{ user.maidenName }}</th>
          <th scope="row">{{ user.age }}</th>
          <th scope="row">{{ user.gender }}</th>
          <th scope="row">{{ user.email }}</th>
          <th scope="row">{{ user.username }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
