<div class="jumbotron" *ngIf="product">
  <!-- <h4>ID: {{ product.id }}</h4> Name:  -->
  <h1>{{ product.title }}</h1>
  <h4>Description: {{ product.description }}</h4>
  <h4>Price: {{ product.price }}</h4>
  <h4>Discount %: {{ product.discountPercentage }}</h4>
  <h4>Rating: {{ product.rating }}</h4>
  <h4>Stock: {{ product.stock }}</h4>
  <h4>Brand: {{ product.brand }}</h4>
  <h4>Category: {{ product.category }}</h4>
  <h4>Thumbnail: {{ product.thumbnail }}</h4>
  <!-- <h4>Images: {{ product.images }}</h4> -->
  <div
    id="carouselExample"
    class="carousel slide"
    *ngIf="product.images.length >= 0"
    style="max-width: 500px; max-height: 500px"
  >
    <div class="carousel-inner">
      <!--  class="carousel-item active" -->
      <div
        *ngFor="let img of product.images; let i = index"
        [ngClass]="i === 0 ? 'carousel-item active' : 'carousel-item'"
      >
        <img [src]="img" class="d-block w-100" [alt]="product.title" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
