.heroes {
  margin: 1em;
  list-style-type: none;
  padding: 1em;
  width: auto;
}

.heroes li {
  display: flex;
  margin: 1em;
  width: 10em;
  padding: 0 9px 0 0;
  background-color: rgb(221, 237, 253);
  border-radius: 6px;
  height: 30px;
}

.heroes li:hover {
  background-color: rgb(180, 198, 215);
}

.badge {
  background-color: rgb(70, 101, 255);
  color: white;
}

.heroes .badge {
  margin-right: 20px;
}

.selected {
  background-color: #369;
  color: rgb(130, 130, 130);
  border-radius: 2px;
}

.selected .badge {
  background-color: #444;
}

.name {
  margin: 20px;
}
