<!-- <h2>{{ hero.name | uppercase }} Details</h2>
<div>
  <span>id: {{ hero.id }}</span>
  <span>name: {{ hero.name }}</span>
</div>
<div>
  <label for="name">Hero name: </label>
  <input type="text" id="name" [(ngModel)]="hero.name" placeholder="name" />
</div> -->

<!-- <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroList">
      <td>{{hero.id}}</td>
      <td>{{hero.name}}</td>
    </tr>
  </tbody>
</table> -->

<h2 *ngIf="!selectedHero">My Heroes</h2><h2 *ngIf="selectedHero">{{selectedHero.name | uppercase}} Details</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroList">
    <!-- <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button> -->
    <button 
        [class.selected]="hero === selectedHero" 
        [attr.data-count]="hero.id" 
        (click)="onSelect(hero)">
      {{hero.name}}
    </button>
  </li>
</ul>